@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

.container {
  font-family: "Charm", cursive;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #241f2b88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  opacity: 0;

  transition: opacity 0.5s;
}

.message {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.submessage {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.button {
  background-color: unset;
  color: yellow;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-family: "Charm", cursive;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: scale(1.05);
  color: orange;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.counter {
  font-family: "Charm", cursive;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  top: 2rem;

  color: yellow;
}
